* {
box-sizing: border-box;
}

/* Styling for Landing Page */
header {
    margin-top: 10px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.nba {
    height: 225px;
    width: 325px;
}

h1 {
    font-size: 35px;
    font-family: 'B612 Mono', monospace;
}

.testMotto {
    font-size: 25px;
    font-family: 'B612 Mono', monospace;
}

main {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    min-height: 70vh;
    margin-bottom: 100px;
    border-radius: 3px;
    text-align: center;
    position: relative;
}

.criteria {
    padding: 10px;
}

ul.landingList {
    font-size: 26px;
    text-align: left;
    font-family: 'B612 Mono', monospace;
}

footer {
    background: #006bb7;
    width: 100%;
    height: 100px;
    position: fixed;
    text-align: center;
    left: 0;
    bottom: 0;
    font-size: 35px;
    color: white;
    font-family: 'B612 Mono', monospace;
}

.left {
    float:left;
    width:100px;
    height: 20px;
    margin-left: 10px;
}

.right {
    float:right;
    width:100px;
    height: 20px;
    margin-right: 55px;
}

/* Button Styling */
.actionButton {
    font-size: 25px;
    color: white;
    background: grey;
    border: 4px solid #006bb7;
    border-radius: 50%;
    width: 175px;
    height: 175px;
    margin-top: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.5s;
    cursor: pointer;
    font-family: 'B612 Mono', monospace;
}

.submitButton {
    font-size: 25px;
    color: white;
    background: darkgray;
    border: 4px solid #006bb7;
    border-radius: 50%;
    width: 175px;
    height: 175px;
    margin-top: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.5s;
    cursor: pointer;
    font-family: 'B612 Mono', monospace;
}

.nextButton {
    font-size: 25px;
    color: white;
    background: darkgray;
    border: 4px solid 50c994;
    border-radius: 50%;
    width: 170px;
    height: 170px;
    margin-top: 15px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.5s;
    cursor: pointer;
    font-family: 'B612 Mono', monospace;
}

.resetButton {
    font-size: 25px;
    color: white;
    background: darkgray;
    border: 4px solid 50c994;
    border-radius: 50%;
    width: 175px;
    height: 175px;
    margin-top: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition-duration: 0.5s;
    cursor: pointer;
    font-family: 'B612 Mono', monospace;
}

.nextButton:hover {
    background-color: orangered;
    color: black;
    border: 4px dashed black;
}

.actionButton:hover {
    background-color: orangered;
    color: black;
    border: 4px dashed black;
}

.submitButton:hover {
    background-color: orangered;
    color: black;
    border: 4px dashed black;
}

.resetButton:hover {
    background-color: orangered;
    color: black;
    border: 4px dashed black;
}

/* Quiz Styling */
.mainQuiz h2 {
    font-size: 35px;
}

fieldset {
    border: none;
}

label {
    display: flex;
    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    border: 4px solid gray;
    border-radius: 25px;
    font-size: 25px;
    transition-duration: 0.5s;
    color: #343341;
    font-family: 'B612 Mono', monospace;
}

label:hover {
    background-color: #50c994;
    color: white;
}

input[type="radio"] {
    display: flex;
    margin-bottom: 5px;
    height: 15px;
    width: 15px;
}

input[type=radio] + label {
    background-color: #50c994;
    color: white;
}

.feedback_results {
    border: 3px solid lightgray;
    background: lightgray;
    border-radius:10px;
    width: 675px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.feedback_results_text {
    color: white;
}

.innerFeedback {
    border-top: 2px solid #50c994;
    background: #50c994;
    position: absolute;
    padding: 7px;
    font-size: 35px;
    height: 90px;
    margin: 0px;
    left:0;
    bottom: 0;
    width: 100%;
}

.innerFeedback2 {
    border-top: 2px solid #c93547;
    background: #c93547;
    position: absolute;
    padding: 7px;
    font-size: 35px;
    height: 100px;
    left:0;
    bottom: 0;
    width: 100%;
}

.innerResults {
    border-top: 2px solid #006bb7;
    background: #006bb7;
    position: absolute;
    padding: 10px;
    font-size: 35px;
    height: 120px;
    left:0;
    bottom: 0;
    width: 100%;
}

/* Image Styling */
.checkMark {
    width:3 00px;
    height: 300px;
    margin-top: 10px;
}

.xMark {
    width: 280px;
    height: 280px;
    margin-top: 10px;
}

.nbaTrophy {
    width:300px;
    height: 300px;
    margin-top: 10px;
}

.nbaPlayoffs {
    width:400px;
    height: 400px;
    margin-top: 0px;
}

.draftLottery {
    width:450px;
    height: 300px;
    margin-top: 10px;
}

.nflLogo {
    width:280px;
    height: 350px;
    margin-top: 10px;
}
